.upload-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__flex-wrapper {
        display: flex;
        gap: 1rem;

        &__file-upload {
            flex: 1;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
            font-weight: 600;
        }
    }

    &__submit {
        display: flex;
        justify-content: flex-end;

        .btn-action {
            width: 100%;
        }
    }
}

