@use "./colors" as *;
@use "sass:color";

.btn-action {
  background-color: white;
  border-radius: 2px;
  border: 1px solid transparent;
  color: $blue-1;
  padding: 2px;
  overflow: auto;

  &:hover,
  &:active {
    background-color: color.adjust($blue-1, $lightness: -10%);
    border-color: color.adjust($blue-1, $lightness: -20%);
  }

  &:focus {
    background-color: $blue-1;
    color: white;
  }

  &.with-border {
    border-color: $blue-1;

    &:hover,
    &:active {
      border-color: color.adjust($blue-1, $lightness: -20%);
    }
  }
}