/** Open Dyslexic */

@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Regular.woff') format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Italic.woff') format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Bold.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Bold-Italic.woff') format("woff");
  font-weight: bold;
  font-style: italic;
}

/** Classes */

.font-opendyslexic {
  font-family: 'opendyslexic', Avenir, Helvetica, Arial, sans-serif !important;
}

.font-opensans {
  font-family: "Open Sans", sans-serif !important;
}

.font-inter {
  font-family: "Inter", sans-serif !important;
}

.font-lexend {
  font-family: "Lexend", sans-serif !important;
}

.font-atkinson {
  font-family: "Atkinson Hyperlegible", sans-serif !important;
}

.font-andika {
  font-family: "Andika", sans-serif !important;
}

.font-merriweather {
  font-family: "Merriweather", serif !important;
}

.font-sourceserif {
  font-family: "Source Serif Pro", serif !important;
}

