@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/** Open Dyslexic */

@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Regular.woff') format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Italic.woff') format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Bold.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Bold-Italic.woff') format("woff");
  font-weight: bold;
  font-style: italic;
}

/** Classes */

.font-opendyslexic {
  font-family: 'opendyslexic', Avenir, Helvetica, Arial, sans-serif !important;
}

.font-opensans {
  font-family: "Open sans", sans-serif !important;
}

.font-inter {
  font-family: "Inter", sans-serif !important;
}