@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Regular.woff') format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Italic.woff') format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Bold.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('/fonts/OpenDyslexic-Bold-Italic.woff') format("woff");
  font-weight: bold;
  font-style: italic;
}

@import "./colors";
@import "./utils";
@import "./button";

.tag {
  padding: 0.25rem 0.5rem;
  background-color: #e0e8f4;
  border-radius: 0.25rem;
  text-overflow: ellipsis;
}

a {

  &, &:visited {
    color: $blue-1;
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
    color: darken($blue-1, 20%);
  }

  &:focus {
    border: 1px dashed $blue-1;
  }
}