---
import '../styles/globals.css'
import Layout from '../layouts/Layout.astro';
import BlogPost from "../components/BlogPost.astro";
import {getCollection} from "astro:content";
const title = "My Astro Learning blog"

const allPost = await getCollection("blog");
---

<Layout pageTitle={title}>
    <nav role="navigation" title="Blog posts">
        <ul>
            {allPost.map((post: any) => (
                    <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
            ))}
        </ul>
    </nav>

</Layout>
