---
import '../styles/globals.css'
import Layout from '../layouts/Layout.astro';
import BlogPost from "../components/BlogPost.astro";
const title = "My Astro Learning blog"

const allPost = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
---

<Layout pageTitle={title}>
    <nav role="navigation" title="Blog posts">
        <ul>
            {allPost.map((post: any) => (
                    <BlogPost {...post.frontmatter} url={post.url}/>
            ))}
        </ul>
    </nav>

</Layout>
