---
import '../styles/globals.css'
import Layout from '../layouts/Layout.astro';
const title = "My Astro Learning blog"

const allPost = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
---

<Layout pageTitle={title}>
    <nav role="navigation" title="Blog posts">
        <ul>
            {allPost.map((post: any) => (
                    <li>
                        <a href={post.url}>{post.frontmatter.title}</a>
                    </li>))}
        </ul>
    </nav>

</Layout>
