---
import Layout from '../layouts/Layout.astro';
import UploadForm from '../components/UploadForm';
---

<Layout title="Upload a new note">
    <main>
        <UploadForm client:load />
    </main>
</Layout>