---
import FicheLayout from "../layouts/FicheLayout.astro";
import UploadForm from "../components/UploadForm.astro";
---

<FicheLayout>
    <h1>Ajouter une nouvelle fiche de lecture</h1>
    <UploadForm />
</FicheLayout>