---
import Layout from "../layouts/Layout.astro";
import UploadForm from "../components/UploadForm.astro";
---

<Layout title="Upload a new reading note">
    <main>
        <UploadForm />
    </main>
</Layout>