---
import FicheLayout from "../layouts/FicheLayout.astro";
import UploadForm from "../components/features/upload/UploadForm.tsx";
---

<FicheLayout>
    <h1>Ajouter une nouvelle fiche de lecture</h1>
    <UploadForm client:load/>
</FicheLayout>