---
import Layout from "../layouts/Layout.astro";
import UploadForm from "../components/features/upload/UploadForm.tsx";
---

<Layout pageTitle="Ajouter une nouvelle fiche de lecture">
    <h1>Ajouter une nouvelle fiche de lecture</h1>
    <UploadForm client:load/>
</Layout>