---
import Layout from "../layouts/Layout.astro";
import UploadForm from "../components/features/upload/UploadForm.tsx";
---
<Layout pageTitle="Ajouter une nouvelle fiche de lecture">
    <h1 class="text-2xl font-bold bg-primary text-primary-content p-4 m-4">Ajouter une nouvelle fiche de lecture</h1>
    <UploadForm client:load/>
</Layout>