---
---
<!-- this will work in both dev and prod environments as we have copied the pagefind directory locally -->
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script is:inline src="/pagefind/pagefind-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<div id="searchContainer">
    <input type="search" />
</div>
<script is:inline>

    const searchInput = document.querySelector("#searchContainer [type='search']");
    let pagefind;
    searchInput.onfocus = async (event) => {
        if (!pagefind) {
            pagefind = await import("/pagefind/pagefind.js");
            pagefind.init();
        }
    }
    searchInput.onkeyup = _.debounce(async (e) => {

        const results = await (await pagefind.debouncedSearch(e.target.value, {}, 700)).results;
        for (const result of results) {
            const data = await result.data();
            console.log(data, data.meta.title, data.excerpt);
            // do required DOM manipulation
        }
    }, 700);

</script>