---
import SearchInput from "./SearchInput.astro";
import SearchResults from "./SearchResults.astro";
---
<!-- this will work in both dev and prod environments as we have copied the pagefind directory locally -->

<section>
    <SearchInput />
    <SearchResults />
</section>