---
import Social from "./Social.astro";
---
<footer>
    <nav role="navigation" title="My social network">
        <Social platform="github" username="titerin"/>
        <Social platform="instagram" username="tite_rin"/>
    </nav>
</footer>

<style>
    nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>