---
import '../styles/fiche.scss';
import Layout from "./Layout.astro";
import Navigation from "../components/layout/Navigation.astro";
import SearchContainer from "../components/features/search/SearchContainer.astro";

interface Props {
    pageTitle?: string;
    title?: string;
    description?: string;
}

const { pageTitle = "Fiche de lecture", title, description } = Astro.props;
---

<Layout pageTitle={pageTitle}>
    <div role="main" class="wrapper">
        <div class="navigation print-hidden">
            <Navigation />
        </div>
        <div class="content">
            <div class="print-hidden">
                <SearchContainer />
            </div>
            <section>
                <slot/>
            </section>
        </div>
    </div>
</Layout>

<style>
    html, body {
        font-family: 'opendyslexic', Avenir, Helvetica, Arial, sans-serif;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-height: 100%;

        .navigation {
            flex-shrink: 0;
        }

        .content {
            flex-grow: 1;
        }
    }

    @media screen and (min-width: 768px) {
        .wrapper {
            flex-direction: row;

            .navigation {
                max-width: 300px;
            }
        }
    }

    @media print {
        @page {
            size: A4;
            margin: 2cm;
        }

        body {
            font-size: 12pt;
            line-height: 1.5;
        }

        .wrapper {
            display: block;
            width: 100%;
            max-width: 21cm;
            margin: 0 auto;
        }

        .print-hidden {
            display: none !important;
        }

        .content {
            padding: 0;
            overflow: visible;
        }
    }
</style>