---
import '../styles/fiche.scss';
import Layout from "./Layout.astro";

interface Props {
    pageTitle?: string;
    title?: string;
    description?: string;
}

const { pageTitle = "Fiche de lecture", title, description } = Astro.props;
---

<Layout pageTitle={pageTitle}>
    <section class="content">
        <slot/>
    </div>
</Layout>

<style>
    @media print {
        @page {
            size: A4;
            margin: 2cm;
        }

        body {
            font-size: 12pt;
            line-height: 1.5;
        }

        .wrapper {
            display: block;
            width: 100%;
            max-width: 21cm;
            margin: 0 auto;
        }

        .print-hidden {
            display: none !important;
        }

        .content {
            padding: 0;
            overflow: visible;
        }
    }
</style>